<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>todotrack</title>
    <link rel="icon" type="image/png" href="../public/assets/icons/favicon_io/favicon-32x32.png">
    <link rel="stylesheet" href="../public/styles/main.css" />
  </head>
  <body>
    <header class="header">
      <nav class="header-menu">
        <ul class="header-menu-list">
          <li class="header-menu-item">
            <a href="#home" class="header-menu-link">Home</a>
          </li>
          <li class="header-menu-item">
            <a href="#about" class="header-menu-link">About</a>
          </li>
          <li class="header-menu-item">
            <a href="#contacts" class="header-menu-link">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="header-actions">
        <button class="header-button button button-text" onclick="window.location.href='./login.html'">Sign In</button>
        <button class="header-button button" onclick="window.location.href='./register.html'">Sign Up</button>
      </div>
    </header>
    <main class="content">
      <h1 class="visually-hidden">tracking system todotrack</h1>
      <section class="banner container-screen" id="home">
        <h2 class="visually-hidden">todotrack logo banner</h2>
        <div class="banner-body">
          <h3 class="banner-title">to<span class="low-text">do</span>track</h3>
        </div>
      </section>
      <section class="about container-screen" id="about">
        <header class="about-header container centered">
          <h2 class="about-title title-big">
            Manage your tasks and track progress
          </h2>
          <div class="about-description">
            <p>
              Create and join groups, organize and complete tasks efficiently,
              set clear deadlines, and keep track of your progress with detailed
              time management insights.
            </p>
          </div>
          <button class="about-button button" onclick="window.location.href='./register.html'">Get Started</button>
        </header>
        <ul class="about-list">
          <li class="about-list-item">
            <div class="about-image">
              <img
                src="../public/assets/icons/about/group-fill.svg"
                alt="group icon"
              />
              <p>Groups</p>
            </div>
          </li>
          <li class="about-list-item">
            <div class="about-image">
              <img
                src="../public/assets/icons/about/list-check.svg"
                alt="list icon"
              />
              <p>Tasks</p>
            </div>
          </li>
          <li class="about-list-item">
            <div class="about-image">
              <img
                src="../public/assets/icons/about/line-chart-line.svg"
                alt="line chart icon"
              />
              <p>Analytics</p>
            </div>
          </li>
          <li class="about-list-item">
            <div class="about-image">
              <img
                src="../public/assets/icons/about/time-line.svg"
                alt="time icon"
              />
              <p>Time tracking</p>
            </div>
          </li>
        </ul>
      </section>
    </main>
    <footer class="footer" id="contacts">
        <div class="footer-container container">
          <header class="footer-header">
            <div class="logo">to<span class="low-text">do</span>track</div>
            <p class="footer-description">Developed & Designed by Anastasiia Klishch. &copy; 2025</p>
          </header>
          <div class="footer-body"></div>
        </div>
      </footer>
  </body>
</html>